//write a bootstrap html code to download file from server
//file location is /files/data.txt
//file name is data.txt
//file type is text/plain
//file size is 5kb
//file link is /files/data.txt
//file should open in new tab

//output
//
<a href="/files/data.txt" target="_blank">download now</a>